/* Base */
body {
    font-family: 'Source Code Pro', monospace;
    background: url("https://source.unsplash.com/aJTiW00qqtI");
    padding: 0;
}

/* mis clases login (index) */
.login-div-imagen {
    background: white;
}

.login-h1 {
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.login-form {
    background: rgba(0, 0, 0, 0.5);
}

.login-input {
    text-indent: 10px;
    margin-top: 5px;
    border: none;
}

.login-button {
    margin-top: 5px;
}

.m-xauto {
    margin-right: auto;
    margin-left: auto;
}

.login-checkbox {
    margin-left: -118px;
}

/* mis clases menu & footer */
.menu-wrapper,
.footer-wrapper {
    background: rgba(0, 0, 0, 0.5);

    height: 100px;
}

.menu-wrapper {}

.menu-wrapper.sticky {
    top: 0;
    position: sticky;
}

.footer-wrapper {
    height: 50px;
    position: sticky;
    bottom: 0;
}

.footer-wrapper.sticky {
    top: 0;
    position: sticky;
}

/* mis clases tarjetas-perros */
.tarjetas-main {

    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
}

/* mis clases nuevo-perro */

/* mis clases listado-perros */
.listado-perros-main {

    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
}

/* Clases aux */