/*
  hoja de estilos
  esto es un comentario de bloque
  @auto: ander
  @version: 1.0
  @tags: css, basic, etc..
  @licencia: mit
  
*/

/*  Estructura correcta de la hoja de estilos
    1. reset
    2. keyframes
    3. a todas las etiquetas estilos generales
    4. layouts
    5. clases
    6. ids, cosas más específicas
     */

/* reset basico para eliminar estilos de todos los browser - user-agent */
/* *{
    margin: 0;
    padding: 0;
} */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;

}

main {
    padding: 0px 50px;
    margin-bottom: 80px;
}

h1 {
    color: black;
    font-size: 3em;
    text-align: center;
    margin: 20px 0px 30px 0px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

p {
    padding: 10px;
}

nav {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px;
    /* background-color: rgba(255, 255, 0, 0.521); */
    background-color: black;

}

nav a {
    margin-right: 10px;

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

nav a:hover {
    color: rgb(236, 253, 1);
}

/* nav a span {} */

section {
    border: 1px solid grey;
    border-radius: 5px;

    padding: 10px;
    margin-bottom: 50px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);
    box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);

}


table {
    width: 50%;
    margin: auto;
}

td {
    width: 50%;
    border: 1px solid #000;

    /* shorthand */

    /*
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    */

    text-align: center;
    text-transform: capitalize;
}

td:hover {
    background-color: pink;
}

img {
    width: 100%;
}

dl {
    padding: 0px 10px;
}

dt {
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}

code {
    background-color: rgba(255, 255, 0, 0.521);
}

.menu {
    position: sticky;
    top: 0;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.301);
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0px 0px 0px 0px;
}

.parallax {
    margin: 0px 0px 0px 0px;

    background-image: url(/pruebaTecnica/images/nicolas-lobos-NR_tXTuyTak-unsplash.jpg);

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    color: white;
    font-size: 64px;
    padding-top: 4em;
    margin-bottom: 0px;
}

.parallax h2 {

    margin-top: 0px;

    font-size: 18px;

    color: pink;
}

.botonBlock {
    display: block;
    margin: auto;
}

.textoTachado {
    text-decoration: line-through;
}

div.dl {
    margin: 0px 0px 10px 0px;
}