/*
  hoja de estilos
  esto es un comentario de bloque
  @auto: ander
  @version: 1.0
  @tags: css, basic, etc..
  @licencia: mit
  
*/

/* reset basico para eliminar estilos de todos los browser - user-agent */
/* *{
    margin: 0;
    padding: 0;
} */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;

}

div.container {
    padding: 0px 50px;
}

h1 {
    color: teal;
    font-size: 3em;
    text-align: center;
    margin: 0px 0px 30px 0px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

nav {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px;
}

a {
    color: teal;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

section {
    border: 5px solid teal;

    padding: 10px;
    margin-bottom: 50px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);
    box-shadow: 10px 10px 5px 0px rgba(0, 128, 128, 0.24);

}


table {
    width: 50%;
    margin: auto;
}

td {
    width: 50%;
    border: 1px solid #000;

    /* shorthand */

    /*
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    */

    text-align: center;
    text-transform: capitalize;
}

td:hover {
    background-color: pink;
}

img {
    width: 100%;
}

dl {
    padding: 0px 10px;
}

dt {
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}

.parallax {
    margin: 0px 0px 5px 0px;

    background-image: url(/pruebaTecnica/images/nicolas-lobos-NR_tXTuyTak-unsplash.jpg);

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    padding-top: 4em;
}

.parallax h2 {
    padding-top: 0.5em;
}

.subTitulo {
    color: white;
}

.textoTachado {
    text-decoration: line-through;
}

div.dl {
    margin: 0px 0px 10px 0px;
}